#
# rename this file to .gginfo
# place it the .gginfo file in your favourite locate
# and make sure to define the correct path to it in the ggrougs2confluence script
#
# This is the configuration file where you will define a few constants with the
# specific informations about your JIRA Confluence wiki
#
IGNORE_GAM=false
DEBUG=false
#SAMPLE_PAGE="sample_page.txt"

CONFLUENCE_URL="https://<your_jnstance>.atlassian.net"
ATLASSIAN_USER="user@domain.com"
ATLASSIAN_PASSWORD="password"

# PAGENAME defines the name of the page you want to update with the script
# it's best to create an empty page before the first execution of the script
PAGENAME="Page Name"
# get the PAGEID from the 'Page Infoormation' in confluence"
PAGEID="" # 1234567
