#
## rename this file to .ldul_infor
## place it the .ldul_info file in your favourite location (i.e. ~/)
## and make sure to define the correct path to it in the ldap_users_list.sh script
##
## This is the configuration file where you will define a few constants with the
## specific informations about your OpenLDAP service connection
##
URI="ldap://some.thing.com"
BASE="ou=employees,dc=thing,dc=com"
# omit the 'ou=' to search the full users database
# BASE="dc=thing,dc=com"
BINDDN="cn=admin,dc=thing,dc=com"
BINDPW="P4$$w0rd"

OBJECT_CLASS="inetOrgPerson"
